/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}





:root {
    --main: #507A49;
    --white: white; 
    --black: black;

    --index: calc(1vw + 1vh);
    --headerheight: calc(5*var(--index))
}








/* styles */
.container {
    /* width: min(100% - 30px, 1600px); */
    width: 90%;
    margin-inline: auto;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10%;
}
body {
    background-color: var(--white);
    color: var(--white);
    overflow-x: hidden;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Craftwork Grotesk', sans-serif;


}
.mob {
    display: none;
}
/* header */
.header {
    height: 75px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
    transition: all 1s;
}
.nav-up {
    top: -75px!important;
}
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: var(--white);
    animation: ellipse 2s ease-in-out infinite;
}
@keyframes ellipse {
    0% {
        height: 15px;
    }
    50% {
        height: 35px;
    }
    100% {
        height: 15px;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.pc nav {
    display: inline-flex;
    justify-content: flex-end;
    gap: 6vw;
    margin-left: auto;
    color: var(--black);
    font-weight: 500;
}
.pc nav a:hover {
    text-decoration: underline;
}
.lang {
    margin-left: 5vw;
    display: flex;
    gap:15px;
    color: var(--black);
    font-size: 14px;
    /* height: 100%;
    align-items: flex-end;
    align-self: flex-end; */
}
.lang a:hover {
    text-decoration: underline;
}
.header-mob {
    display: none;
}





.hero {
    height: 100vh;
    position: relative;
}
.hero-video {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    margin: 0 5%;
    bottom: 10vh;
    font-weight: 800;
    font-size: 5vw;
    text-transform: uppercase;
}








.work-section {
    position: relative;
    /* padding: 15vh 0; */
}


.r-line {
    display: flex;
    width: 100%;
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
    font-size: 33px;
}
.r-line div {
    animation: work 40s -40s linear infinite;
    will-change: transform;
    white-space: nowrap;
}
.r-line div:nth-child(2) {
    animation: work2 40s -20s linear infinite;
}
@keyframes work {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
}
@keyframes work2 {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-200%);
      }
}
.works {
    position: relative;
    z-index: 1;
}
.vb-wrp {
    width: 100%;
}
.vb-card {
    display: grid;
    grid-template-columns: 66% auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 9px rgba(6, 6, 6, 0.46);
}
.vb-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vb-card-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--main);
    padding: 20px;
}  
.vb-card-info > div {
    padding: 1vw;
    display: flex;
    align-items: center;
}
.vb-projectname { 
    grid-area: 1 / 1 / 2 / 2; 
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    font-weight: 700;
    font-size: 1.3vw;
}
.vb-logos { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
}
.vb-descr { 
    grid-area: 2 / 1 / 3 / 2; 
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
    font-size: 0.95vw;
    font-weight: 300;
}
.cloth { 
    grid-area: 2 / 2 / 4 / 3; 
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}
.vb-link-wrp { 
    grid-area: 3 / 1 / 4 / 2; 
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    font-size: 0.8vw;
}
.vb-link-wrp a { 
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 5vw;
    margin: 1vw 0;
    gap: 20px;
    background-color: var(--white);
    padding: 15px 10px 15px 15px;
}
.vb-link-wrp a span {
    color: var(--black);
}

.projects-wrp {
    margin: 2vw 0 0;
    display: flex;
    align-items: flex-start;
}
.project-card {
    display: inline-grid;
    grid-template-columns: auto auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 9px rgba(6, 6, 6, 0.46);
}
.percent {
    max-width: 35vw;
}
.afh {
    max-width: 40vw;
    margin-left: auto;
}
.project-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--main);
    padding: 20px;
}
.project-info > div {
    padding: 1vw;
    display: flex;
    align-items: center;
}
.projectname { grid-area: 1 / 1 / 2 / 2; 
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    font-weight: 700;
    font-size: 1.3vw;
}
.project-logo { grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
}
.project-logo img {
    height: 3vw;
    object-fit: contain;
}
.project-descr { grid-area: 2 / 1 / 3 / 3; 
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
    font-size: 0.95vw;
    font-weight: 300;
}
.project-link-wrp { grid-area: 3 / 1 / 4 / 3; 
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
    font-size: 0.8vw;
}
.project-link-wrp a {
    display: flex;
    align-items: flex-end;
    border: 1px solid var(--white);
    border-radius: 5vw;
    margin: 1vw 0;
    gap: 20px;
    background-color: var(--white);
    padding: 15px 10px 15px 15px;
}
.project-link-wrp a span {
    color: var(--black);    
}
.project-card.afh .project-video  {
    height: 35vw;
}
.project-card.percent .project-video  {
    height: 30vw;
}





.ben {
    margin-top: -10vh;
    padding: 30vh 0 10vh;
    background: var(--white);
}

.ben h2{
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
    color: #000000;
    margin-bottom: 20vh;
}

.stack {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    place-items: center;
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.libra {
    background: url(static/borges-libra.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}
.partners {
    margin-bottom: -2px;
    padding: 10vh 0;
    position: relative;
}
.video-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.partners-wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
    position: relative;
    z-index: 1;
}
.partners h2 {
    font-size: 6vw;
    font-weight: 600;
}
.partners-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, calc(5*var(--index)));
    gap: 20px;
}
.partner-logo {
    background-color: var(--white);
    border-radius: 8px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-logo img {
    transition: all .1s;
    max-width: 70%;
    max-height: 65%;
    opacity: 1;
}

.partner-logo span {
    display: none;
    font-size: 2vw;
}
.partner-logo:hover img {
   max-width: 0%;
   opacity: 0;
}
.partner-logo:hover span {
    display: inline-block;
}









.about {
    position: relative;
    padding-bottom: 5vw;
}
.hands {
    position: absolute;
    left: 0;
    top: calc(-8*var(--index));
    width: 56%;
    z-index: 0;
}
.about .container {
    position: relative;
}
.about-wrp {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.about h2 {
    color: transparent;
    -webkit-text-stroke: 2px var(--white);
    font-size: 8vw;
    font-weight: 700;
    margin-left: auto;
}
.about h3::after {
    content: "";
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: var(--main);
    position: absolute;
    top:-90%;
    left: -9%;
    z-index: -1;

}
.about h3 {
    width: 74%;
    font-size: 2vw;
    margin-left: auto;
    position: relative;
    z-index: 2;
    margin-top: 5vw;
}
.toggle-wrp {
    border-radius: 15vh;
    display: inline-flex;
    background-color: grey;
    align-items: center;
    transition: all .5s;
    margin: 0 auto;
    position: relative;
    padding-right: 0;
    padding-left: 40vw;
    box-shadow: inset 0 0 0 4px var(--main);
    overflow: hidden;
}
.toggle-wrp img {
    width: 15vw;
    height: 15vw;
    position: relative;
    z-index: 1;
    transition: transform .5s;
    
}
.toggle-wrp img {
    filter: drop-shadow(0px 0px 44px rgba(0, 0, 0, 0.83));
}
.toggle-txt {
    max-width: 0;
    padding: 0 2vw;
    position: absolute;
    right: 0;
    z-index: 0;
    font-size: 1.2vw;
    /* opacity: 0; */
    display: none;
    line-height: 140%;
}
.toggle-wrp.toggle-active {
    padding-right: 40vw;
    padding-left: 0;
    background-color: var(--black);
}
.toggle-wrp.toggle-active .toggle-txt {
    max-width: 40vw;
    /* opacity: 1; */
    display: block;
}
.toggle-wrp.toggle-active img {
    transform: rotate(-360deg);
}


.toggle-txt span {
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration-line: underline;
}

.form-wrp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    margin: 13vw 0 0;
}
.form-txt-top {
    grid-area: 1 / 1 / 2 / 3;
    padding: 5vw;
    font-size: 2vw;
    text-align: center;
    border: 1px solid var(--white);
}
.form-txt-bot {
    font-size: 1.2vw;
    margin-top: 5vh;
    display: block;
}
.callus {
    grid-area: 2 / 1 / 3 / 2;
    padding: 3vw;
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    font-size: 2vw;
    position: relative;
    overflow: hidden;
}
.mailus {
    grid-area: 2 / 2 / 3 / 3;
    padding: 3vw;
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    font-size: 2vw;
    position: relative;
    overflow: hidden;
}
.mailus::before, .callus::before {
    content: "";
    position: absolute;
    top: -30vh;
    left: 0;
    transition: all .2s;
    height: 30vh;
    width: 100%;
    background-color: var(--main);
    z-index: 0;
}
.mailus span, .callus span {
    transition: all 1s;
    display: block;
}
.mailus:hover span, .callus:hover span {
    transform: translate(5%);
}
.mailus:hover::before, .callus:hover::before {
    top: 0;
}

.we {
    position: absolute;
    top: -13vw;
    width: 15vw;
    height: 15vw;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--main);
    left: 0;
    right: 0;
    font-size: 7vw;
    font-weight: 700;
    margin: auto;
    filter: drop-shadow(0px 0px 44px rgba(0, 0, 0, 0.83));
}

footer {
    padding: 10vh 0 7vh;
}
.footer-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.f-logo {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}
.f-bot {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    font-size: 13px;
    gap: 2vw;
}
.f-nav {
    text-decoration: underline;
}
.f-nav{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.f-nav-mob {
    display: none;
}
.f-pages {
    display: flex;
    justify-content: end;
    gap: 10%
}
.copyright {
    text-align: center;
    font-size: 11px;
}










.dark-l {
    width: 40vw;
    height: 40vw;
    background: linear-gradient(-45deg, #ee7752, #FFFB94, var(--main), #23d5ab);
    background-size: 300% 300%;
    border-radius: 50%;
    filter: blur(80px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
        border-radius: 20%;
        width: 60vw;
        height: 60vw;
	}
	100% {
		background-position: 0% 50%;
	}
}




@media  (max-width:850px) {
    body {
        cursor: auto;
    }
    a {
        cursor: pointer;
    
    }
    
    .pc {
        display: none;
    }
    .mob {
        display: block;
    }
    .header-mob {
        display: block;
        color: var(--white);
        background-color: var(--black);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: all 1s;
        height: var(--headerheight);
        display: flex;
        align-items: center;
    }
    .nav-up {
        top: calc(-1*var(--headerheight))!important;
    }
    .logo  {
        width: 20vw;
        margin-right: auto;
    }
    .logo svg  path {
        fill: var(--white)
    }
    .getintouch {
        font-size: calc(1*var(--index));;
        border: 1px solid var(--main);
        padding: 1% 4%;
        border-radius: 10vw;
        height: calc(3*var(--index));
        display: grid;
        place-items: center;
        white-space: nowrap;
    }
    .brg {
        display: flex;
        flex-direction: column;
        width: calc(3*var(--index));
        height: calc(3*var(--index));
        justify-content: center;
        align-items: center;
        gap: 2px;
        background: var(--main);
        border-radius: 50%;
        /* padding: calc(1*var(--index)); */
        position: relative;
        z-index: 100;
        margin-left: calc(2*var(--index));
    }
    .brg span {
        height: 2px;
        width: 40%;
        border-radius: 10px;
        background-color: var(--white);
        transition: all 1s;
        opacity: 1;
    } 
    .brg.open span:nth-child(2) {
        display: none;
        opacity: 0;
    }
    .brg.open span {
        position: absolute;
        transform-origin: center center;
    }
    .brg.open span:nth-child(1) {
        transform: rotate(45deg);
    }
    .brg.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .header-mob nav > a{
        font-size: calc(1.5*var(--index));
        height: auto;
        text-transform: uppercase;
        padding: 2% 4%;
    }
    .header-mob nav {
        position: fixed;
        height: 100%;
        width: 100%;
        top: -100vh;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6%;
        background-color: var(--black);
        transition: all 1s;
    }
    .header-mob nav.nav-open {
        top:0
    }
    .header-mob .lang-mob {
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
    .hero {
        height: 85vh;
    }
    .hero h1 {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .works-slider-wrp {
        display: flex;
        gap: 5%;
        overflow: scroll;
        padding: 0 5%;
        margin-top: -5vh;
    }
    .work-card {
        border-radius: 8px;
        overflow: hidden;
        min-width: 60%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-video-mobile {
        height: 100%;
        max-width: 100%;
        filter: brightness(20%);
        object-fit: cover;
        border-radius: 8px;
    }
    .work-card .project-head {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: inline-table;
        font-size: calc(2*var(--index));
        font-weight: 700;
        text-align: center;
        padding: 0 5%;
    }
    .work-card .mob-btn-wrp {
        position: absolute;
        bottom: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 7px;
        border: 1px solid var(--white);
        border-radius: 10vw;
        padding: 15px;
        font-size: 12px;
        background-color: var(--white);
        color: var(--black);
        line-height: 100%;
    }

    .ben {
        margin-top: -5vh;
        padding: 10vh 0 5vh;
    }
    .ben h2 {
        font-size: calc(2*var(--index));
        margin-bottom: 5vh;
    }
    .stack {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 9%;
        row-gap: 3vh;
        font-weight: 500;
    }
    .stack-logo:last-child{
        grid-area: 2 / 1 / 3 / 7;
        text-align: center;
    }
    .stack-logo span {
        font-weight: 700;
    }
    .partners {
        background-attachment: initial;
        padding: 5vh 0 0;
    }
    .partners-wrp {
        display: flex;
        flex-direction: column;
    }
    .partners-wrp h2 {
        text-align: center;
        padding: 0 10%;
        font-size: calc(2*var(--index));
    }

    .partners-logos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, calc(5*var(--index)));
        gap: 10px;
    }
    .partner-logo img {
        max-width: 90%;
        object-fit: contain;
    }
    .libra {
        background: url(static/bottom-bg-mob.webp);
        background-repeat: no-repeat;
        background-size: cover;

    }
    .about-mob {
        padding-bottom: calc(3*var(--index));
    }
    .about-mob .about-mob-head {
        display: flex;
        flex-direction: column;
        gap: calc(2*var(--index));
        font-size: calc(1.4*var(--index));
        font-weight: 600;
        text-align: center;
    }
    .about-mob img {
        width: 100%;
        margin-bottom: 20px;
    }
    .borges-mob {
        background-color: var(--main);
        margin-top: calc(4*var(--index));
    }
    .borges-inner span{
        font-weight: 700;
    }
    .borges-inner {
       padding: calc(6*var(--index)) calc(2*var(--index));
       text-align: center;
    }
    .borges-inner img {
        width: calc(8*var(--index));
        margin-top: calc(-4*var(--index));
        margin-bottom: calc(2*var(--index));
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.83));
    }
    .form-wrp-mob {
        position: relative;
        border: 1px solid var(--white);
        border-radius: 8px;
        padding: calc(4.2*var(--index)) 10px 10px 10px;
        text-align: center;
        margin-top: calc(10*var(--index));
        background-color: #00000091;
    }
    .form-txt-top-mob {
        font-size: calc(1.4*var(--index));
        font-weight: 600;
        margin-bottom: 20px;
    }
    .we {
        width: calc(8*var(--index));
        height: calc(8*var(--index));
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.83));
        font-size: calc(4*var(--index));
        top: calc(-5*var(--index));
    }

    
    .form-txt-bot-mob {
        margin-top: 20px;
        font-size: calc(1*var(--index));
        font-weight: 400;
        display: block;
    }
    .mailus-mob {
        display: block;
        background-color: var(--white);
        color: var(--black);
        padding: 15px 0;
        border-radius: 10vh;
        margin-bottom: 10px;
    }
    .callus-mob {
        display: block;
        background-color: var(--main);
        padding: 15px 0;
        border-radius: 10vh;
    }
    footer {
        padding: 10vh 0 3vh;
    }
    .footer-wrp {
        gap:5vh;
    }
    .f-logo {
        font-size: calc(1.5*var(--index));
    }
    .f-bot {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5vh;
    }
    .f-nav-mob {
        display: flex;
        justify-content: space-evenly;
        gap: 10%;
        grid-area: 1 / 1 / 2 / 3;
    }
    .f-nav {
        display: none;
    }
    .copyright {
        grid-area: 2 / 1 / 3 / 2;
    }
    .f-pages {
        grid-area: 2 / 2 / 3 / 3;
        font-size: 2vw;
    }
}



.body-ua .hero h1{
    font-size: 4vw;
}





/* case studies */

.case-study .container {
    margin-inline: auto;
    width: min(100% - 80px, 1795px);
}
.case-study {
    margin-top: 120px;
    font-size: 20px;
}
.breadcrumbs {
    color: var(--black);
    font-size: 0.8em;
    margin-bottom: 1em;
}
.cs-top-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
}
.cs-head {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cs-head h1 {
    font-size: 2.2em;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0.8em;
}
.cs-desc {
    font-size: 1.2em;
}
b {
    font-weight: 700;
}
@media (min-width: 1564px) {
    .cs-img {
        grid-area: 1 / 2 / 3 / 3;
    }
}

.cs-img {
    place-self: center;
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    aspect-ratio: 2/1;
}
.cs-card {
    background-color:#507A49;
    border-radius: 20px;
    padding: 40px;
}
.cs-card-title {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cs-card ol {
    list-style: decimal;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cs-res-section {
    padding: 40px 0;
    color: var(--black);
}
.cs-res-section h2 {
    font-size: 2.2em;
    font-weight: 700;
}
.cs-res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    margin: 40px 0;
}
.cs-res-item-num {
    font-size: 3.7em;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.cs-res-item-num img{
    max-height: 4rem;
}
.cs-res-item h3 {
    font-weight: 700;
    margin-bottom: 20px;
}
.cs-res-item > img {
    max-height: 130px;
}
.cs-res-sum {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
}
.cs-res-sum p {
    max-width: 800px;
}
.cs-res-sum-link {
    display: flex;
    align-items: center;
}
.cs-res-sum-link img {
    max-width: 55px;
}

.cs-inner-links {
    color: var(--black);
    font-size: 0.8em;
    margin-bottom: 40px;
}
.cs-inner-links-top {
    display: flex;
    gap: 20px;
    align-items: center;
}
.all-cases {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 24px;
    border: 1px solid gray;
    border-radius: 40px;
    font-weight: 500;
    text-wrap: nowrap;
    white-space: nowrap;
}
.cs-inner-links-top .line {
    background: var(--black);
    height: 1px;
    width: 100%;
}
.cs-inner-links-bottom {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.case-link {
    border: 1px solid var(--black);
    padding: 30px;
    border-radius: 20px;
    transition: all .2s ease;
}
.case-link:hover {
    background-color: var(--main);
    color: var(--white);
}

.summ100 {
    font-size: 1.6em;
    font-weight: 700;
    color: var(--black);
    display: flex;
    align-items: center;
    padding: 0 5%;
}
@media (max-width: 978px) {
    .case-study .container {
        width: min(100% - 40px, 1795px);
    }
    .case-study {
        font-size: 16px;
        margin-top: var(--headerheight);
        padding-top: 20px;
    }
    .cs-head h1 {
        font-size: 1.5em;
    }
    .cs-top-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .cs-card {
        padding: 20px;
    }
    .cs-res-item > img {
        max-width: 100px;
    }
    .cs-inner-links-bottom {
        flex-direction: column;
        gap: 20px;
    }
    .case-link {
        padding: 20px;
    }
}