/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}





:root {
    --main: #507A49;
    --white: white; 
    --black: black;
    --grey: #303030;
}



* {
    font-family: 'Inter', sans-serif;
}


/* styles */
.container {
    /* width: min(100% - 30px, 1600px); */
    width: 90%;
    margin-inline: auto;
}

html {
    overflow-x: hidden;
}
body {
    background-color: var(--grey);
    color: var(--white);
}


/* header */
header {
    height: 75px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: var(--white);
    animation: ellipse 2s ease-in-out infinite;
}
@keyframes ellipse {
    0% {
        height: 15px;
    }
    50% {
        height: 35px;
    }
    100% {
        height: 15px;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}
.brand {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}
.slogan {
    font-weight: 300;
    font-size: 14px;
}
.brg {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    justify-content: space-between;
    display: none;
}
.brg .brg-line {
    background: var(--black);
    height: 3px;
    border-radius: 10px;
}
nav {
    display: inline-flex;
    justify-content: flex-end;
    gap: 10vw;
    margin-left: auto;
    color: var(--black);
}
.hero {
    height: calc(100vh - 75px);
    position: relative;
}









.work-section {
    position: relative;
}
.work {
    width: 50%;
    position: absolute;
    top: 20vh;
    z-index: 0;
}
.work path {
    stroke: transparent;
}
.work.animate path {
    stroke-dasharray: 3442;
    stroke-dashoffset: 2;
    animation: work 1s linear;
    stroke: var(--white);
}
@keyframes work {
    0% {
        stroke-dashoffset: 3910;
    }
}

.workwave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.works {
    position: relative;
    z-index: 1;
}
.vb-wrp {
    width: 100%;
}
.vb-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    background-color: var(--main);
    border-radius: 8px;
    padding: 20px;
}
.vb-card-head {
    display: flex;
}
.vb-card-body {
    display: flex;
}
.vb-card-left {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    width: 60%;
}
.vb-card-right {
    width: 40%;
}
.vb-projectname {
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    font-weight: 700;
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding: 2vw;
    width: 60%;
}
.vb-desc {
    border-bottom: 1px solid var(--white);
    padding: 2vw;
}
.vb-video {
    position: relative;
}
.vb-video video {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 0;
    width: 47vw;
    border-radius: 8px;
}
.border {
    height: 100%;
    border-left: 1px solid var(--white);
    position: absolute;
    left: -1px;
    z-index: 1;
}
.vb-card-right {
    border-top: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    display: flex;
    flex-direction: column;
}
.vb-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
    padding: 2vw;
    width: 40%;
}
.vb-cloth img {max-height: 400px;}
.vb-cloth {
    padding: 2vw;
    border-bottom: 1px solid var(--white);
    display: grid;
    place-items: center;
}
.vb-link-wrp {
    padding: 2vw;
    display: flex;
    flex-grow: 1;
}
.vb-link-wrp a {
    margin-top: auto;
}
.works-bottom {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.works-card {
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.works-card-video {
    max-width: 430px;
    flex-shrink: 1;
    display: flex;
}
.works-card-video video {
    width: 100%;
    border-radius: 8px;
}
.works-card-info {
    flex-grow: 1;
    width: 100%;
    position: relative;
    padding: 20px 0 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--main);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
}

.works-card-info-head {
    display: flex;
    align-items: stretch;
}
.works-card-info-head-projectname {
    font-weight: 700;
    font-size: 28px;
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: center;
    width: 75%;
}
.works-card-info-head-projectlogo {
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
}
.works-card-info-head-projectlogo {
    padding: 2vw;
}
.works-card-descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid var(--white);
    min-height: 30%;
    padding: 2vw 2vw 2vw 0;
}
.works-card-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom: 1px solid var(--white);
    flex-grow: 1;
}
.works-card-link a {
    margin-top: auto;
}




.wrp1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(static/777.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.anim {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
}

